<<<<<<< HEAD
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<title>Bienvenido a Sharkht!</title>
	
	<!-- Para que cargue al inicio -->

	<link rel="stylesheet" type="text/css" href="./css/home_style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	 
	

	
</head>
<body>

	<div id="Principal">
		<div id="central">
			<div id="arriba">
				<h1 id="titulo">UAQsApp</h1>
			</div>
			<div id="enmedio">
				 <input type="checkbox" class="toggle-switch" checked >

			</div>
			<div id="abajo">
				<input type="text" class="inputDatos" id="Correo" placeholder="Correo electronico">
				<input type="password" class="inputDatos" id="Contrase単a" placeholder="Contrase単a">
				
				<input type="submit" id="login-button" class ="mandar" value="Login">

			</div>
			
			
		</div>
		

    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="./js/funciones.js"></script>
	<script src="./js/funciones_jq.js"></script>
</body>
=======
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Bienvenido a Sharkht!</title>
	
	<!-- Para que cargue al inicio -->

	<link rel="stylesheet" type="text/css" href="./css/home_style.css">
	 <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	 
	

	
</head>
<body>

	<div id="Principal">
		<div id="central">
			<div id="arriba">
				
				<h1 id="titulo">Sharkht</h1>
			</div>
			<div id="enmedio">
				 <input type="checkbox" class="toggle-switch" checked >

			</div>
			<div id="abajo">
				<input type="text" class="inputDatos" id="Correo" placeholder="Correo electronico">
				<input type="text" class="inputDatos" id="Contrase単a" placeholder="Contrase単a">
				
				<input type="submit" id="login-button" class ="mandar" value="Login">

			</div>
			
			
		</div>
		

    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="./js/funciones.js"></script>
</body>
>>>>>>> parent of 72bdaf4... Fusion de manera exitosa intento #8953
</html>