<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil</title>
</head>
<body>
    <div class="container">
        
        <% if(returnData[0].srcUsuario == null) { %>
            <img src="./img/defect.jpg" alt="Foto de perfil por defecto" height="100" width="100">
        <% } else { %>
            <img src="<%= returnData[0].srcUsuario %>" alt="Foto de perfil por defecto" height="100" width="100">
        <% } %>
        <p>Correo: <%= returnData[0].correoUsuario %></p>
        <form action="/imagen" method="post" enctype="multipart/form-data">
            <input type="file" name="photo" id="img-profile">
            <button id="edit-profile" type="submit">Editar perfil</button>
        </form>
    </div>
</body>
</html>