<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mensaje</title>
</head>
<body>
    
    <form action="/" method="post">
        <input type="text" name="user" id="user" placeholder="user">
        <input type="text" name="password" id="password" placeholder="pass">
        <button id="login">Log-in</button>
    </form>

    <script src="./js/index.js"></script>
</body>
</html> -->

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Bienvenido a Sharkht!</title>
	
	<!-- Para que cargue al inicio -->

	<link rel="stylesheet" type="text/css" href="./css/home_style.css">
	 <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	 
	

	
</head>
<body>

	<div id="Principal">
		<div id="central">
			<div id="arriba">
				
				<h1 id="titulo">Sharkht</h1>
			</div>
			<div id="enmedio">
				 <input type="checkbox" class="toggle-switch" checked >

			</div>
			<div id="abajo">
				<input type="text" class="inputDatos" id="Correo" placeholder="Correo electronico">
				<input type="text" class="inputDatos" id="Contraseña" placeholder="Contraseña">
				
				<input type="submit" id="login-button" class ="mandar" value="Login">

			</div>
			
			
		</div>
		

    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="./js/funciones.js"></script>
</body>
</html>