* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Version Escritorio */
@media (min-width: 768px){

    /* Esto evita problemas con las vistas*/
    #chats{
        display: initial !important;
    }

    #chatsButton{
        content: url("../img/speechBlue.svg") !important;
    }

    #config{
        display: none !important;
    }

    #configButton{
        content: url("../img/settingsGray.svg") !important;
    }

    #contacts{
        display: none !important;
    }

    #contactsButton{
        content: url("../img/phone-bookGray.svg") !important;
    }

    #chatsMovil{
        display: none !important;
    }
    /* ... */
    
    .Principal-home{
        background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../img/fondo1.png') ;
      height: 100%;
      width: 100%;

      position: absolute;
      display:flex;

      align-items: center;

      }
      .image{
          height: 0px;
          width: 0px;
      }

     #Principal-contacts{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: initial !important;
  height: 90%;
  width: 22%;
  background-color: #F3F3F3;
  margin-left: 5%;
  position: absolute;
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
   
}
.ourUser{
  display: flex;
  align-items: center;
  margin-top: 4px;
  width: 98%;
  height: 9%;
   border-bottom: 1px solid #BBBBBB;
}
#ourUser-picture{
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
 
  border-radius: 50%;
display: inline-block;
}
#userPict>img{
  width: 100%;
  height: 100%;
}
#userPictt>img{
  cursor: pointer;
  width: 100%;
  height: 100%;
}
#backPict{
  
  cursor: pointer;
  
  width: 35px;
  height: 35px;
}
#back-web{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 60%;
}
#ajustes{
  width: 20px;
  height: 20px;
  
  margin-left: 84%;
  position: absolute;
}
#config-web{
  width: 100%;
  height: 100%;
}

#search-bar{
 
  width: 98%;
  height: 9%;
 background-color: #EEEEEE;
  display: flex ;
  align-items: center;
  justify-content: center;

}
#search-img{
border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
  width: 15%;
  height: 70%;
  margin-left: 3%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}
#search-img>img{
  width: 60%;
  height: 60%;
  cursor: pointer;
}
#search-content{
  border-left: 1px solid #BBBBBB;
  width: 60%;
  height: 70%;
  margin-right: 3%;
   background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
  
}
#search-input{
  color: grey;
  margin-left: 2%;
  width: 100%;
  height: 90%;
  margin-right: 3%;
  border: none;
  outline: none;
 
   font-size: 15px;  
  
}
#IniciarConversacion{
  cursor: pointer;
  width: 12%;
  height: 60%;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items:center; 
}
#nuevoimg{
  width: 80%;
  height: 80%;
  
}
#Configuracion-web{
    width: 80%;
height: 80%;
display: flex;
justify-content: center;
align-items: center;
background-color: white;
border-radius: 10px;
padding: 10px;
text-align: center;
}

#BusquedaContactos{
    overflow-y: scroll;
    width: 98%;
    height: 75%;
    background-color: #EEEEEE;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.User_settings_Web{
    margin-left: 4.5%;
    height: 30%;
    width: 90%;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
   
    flex-direction: column;
}

.Nuevos_Datos_Perfil_Web{
    margin-left: 26%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
    
    width: 50%;
    height: auto;
}
.Cerrar_Perfil_Web{
    margin-top: 37%;
    margin-left: 26%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
     
     width: 50%;
     height: 20%;
}
#CerrarSesion{
   
    cursor: pointer;
    width: 60%;
    height: 23%;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
}
#NewUser-input{
    width: 170px;;
    height: 35px;
    border: none;
    border-radius: 10px;
    text-align: center;
   
}
#Newpass-input{
    width: 170px;;
    height: 35px;
    border: none;
    border-radius: 10px;
    text-align: center;
}
#SaveButton{
    cursor: pointer;
    width: 70px;
    height: 20px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
}
.Settings_User{
   
    cursor: pointer;
    width: 170px;;
    height: 35px;
    border: none;
    border-radius: 5px;
}
.Settings_Password{
    margin-top: 30px;
    cursor: pointer;
    width: 170px;;
    height: 35px;
    border: none;
    border-radius: 5px;
}
#Perfil_Image{
    
    padding: 10px;
    width: 60px;
    height: 60px;
    background-color: white;
}
#User_Settings_Img{
    
    width: 100%;
    height: 100%;
}
#message-content{
    overflow-y: scroll;
width: 98%;
height: 80%;
background-color: #EEEEEE;
display: flex;
justify-content: flex-start;
flex-direction: column;


}
.message-in{
  cursor: pointer;
  margin-left: 2%;
  margin-top: 5px;
  background-color: white;
  width: 95%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#AddUser{
  width: 56px;
  height: 56px;
  cursor: pointer;
  margin-left: 53%;
}
#AddUser-img{
  width: 100%;
  height: 100%;
}
#img-in{
  height: 80%;
  width: 15%;
   border-radius: 50%;
display: inline-block;
 
  display: flex;
  justify-content: center;
  align-items: center;
}
#backimg-hide{
  display: flex;
  align-items: center;
  justify-content: center;
}
#backimg-hide>img{
    cursor: pointer;
margin-top: 10px;
  width: 25px;
  height: 25px;
}
#userInPict>img{

  width: 90%;
  height: 90%;

}
#datos-in{

  margin-left: 10px;

    height: 100%;
  width: 70%;

}
#name-in{
  display: flex;
  align-items: center;
  
  width: auto;
  height: 40%;
  font-size: 15px;
}
#little-text{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 3%;
  width: auto;
  height: 60%;
 
  font-size: 13px;
}
.container {
  height: 90%;
  width: 68%;
  position: absolute;
 margin-left:27.1%; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.top_banner-web {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #F3F3F3;
  width: 100%;
  height: 8%;
  top: 0px;
  display: initial !important;
  display: flex !important;
  align-items: center;
  justify-content: start;
  margin-bottom: 400px;
 position: absolute;
 
}

.pBack{
  width: 24px;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.pBack>img{
  height: 24px !important;
  width: 24px !important;
}

.pPic{
   margin-left: 3%;
  width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userPic{

  height: 32px;
  width: 32px;
  border-radius: 100%;
}

.pInfo>h1{
  font-size: 16px;
  padding-left: 5px;
}

.main_container {
  
  margin-bottom: 50px;
  position: relative;
  width: 100%;
  height: 85%;
  overflow-y: scroll;
  background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('../img/prueba.png') ;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.in{

  height: auto;
  width: calc(100% - 80px);
  background-color: #F3F3F3;

  border-radius: 12px;
  margin-left: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 15px;
  max-width: 400px;
display: initial !important;
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
}
.in_p{
  overflow: hidden;
  padding: 10px;
  height: 93%;
  width: 100%;
}
.in_p>p{
  cursor: text;
  font-size: 14px;
}

.in_hour{
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.in_hour>p{
  font-size: 12px;
  color: #707070;
}

.out{
  height: auto;
  width: calc(100% - 80px);
  background-color: #30499B;
  border-radius: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: 8px;
  max-width: 400px;
display: initial !important;
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
}
.out_p{
  overflow: hidden;
  padding: 10px;
  height: 93%;
  width: 100%;

}
.out_p>p{

  font-size: 14px;
  color: white;
}

.out_hour{
  height: 100%;
  width: 60px;
  margin-right: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.out_hour>p{
  font-size: 12px;
  color: #F3F3F3;
}

.input_banner-web{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;

  margin-top: 10px;
  background-color: #f3f3f3;
  width: 100%;
  height: 8%;
  bottom: 0px;

  display: flex !important;

   align-items: center;
  justify-content: center;
}

.input_bar-web{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  
}

.input_bar-web>input{
  border: none;
  height: 30px;
  width: calc(100% - 16px);
  border: 1px solid #707070;
  border-radius: 12px;
  outline: none;
  box-sizing: border-box;
  box-shadow: none;
  padding-left: 6px;
  padding-right: 6px;
}

.pic{
  width: 45px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic>img{
  cursor: pointer;
  height: 24px;
  width: 24px;
}

















        /*Index o login y registro*/

    #Principal{
        width: 100%;
        height: 100%;
        position: absolute;
        
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('../img/1.jpg') ;
        background-repeat: no-repeat;
    }

    #central{
        width: 350px;
        height: 550px;
        background-color: #FAFAFA;
        display: flex;  
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 18px;
        box-shadow: 2px 3px #8888;
    }

    #arriba{ 
        margin-top:40px;
        height: 1%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #arriba>img{
        width: 200px;
        height: 200px;
    }

    #titulo{
        margin-top: 10%;
        font-family: 'Roboto', sans-serif;
    }

    #enmedio{    
        margin-top: 10%;
        height: 10%;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    #abajo{
        margin-bottom: 30%;
        height: 30%;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        font-size: 15px;
    }

    .mandar{
        margin-top: 10%;
        height: 35px;
        width: 43%;
        background-color:#30499B;
        border-radius: 10px;
        font-size: 15px;
        color: white;
        cursor: pointer;
    }

    .inputDatos{
        margin-bottom:30px;
        height: 30px;
        width: 100%;
        border:none;
        outline: none;
        background-color: transparent;
        border-bottom: 1px solid black;
        font-size: 18px;    
    }

    input[type=checkbox].toggle-switch {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        width: 170px;
        height: 2.38em;
        border-radius: 1em;
        background-color:#b7b7bb ;
        outline: 0;
        cursor: pointer;
        transition: background-color 0.05s ease-in-out;
        position: relative;
    }

    input[type=checkbox].toggle-switch:checked {
        background-color: #b7b7bb;
    }

    input[type=checkbox].toggle-switch::after {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        content: '';
        width: 7em;
        height: 2.38em;
        background-color: #30499B;
        content: "Registro";
        border-radius: 1em;
        position: absolute;
        transform: scale(1.05);
        left: 0;
        transition: left 0.09s ease-in-out;
    }

    input[type=checkbox].toggle-switch:checked::after {
        left: 5.8em;
        content: "Login" ;
    }

    /*Cambiado*/
    input[type=checkbox]#toggleswitch {

        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        width: 170px;
        height: 2.38em;
        border-radius: 1em;
        background-color:#b7b7bb ;
        outline: 0;
        cursor: pointer;
        transition: background-color 0.05s ease-in-out;
        position: relative;  
    }

    input[type=checkbox]#toggleswitch:checked {
        background-color: #b7b7bb;
    }

    input[type=checkbox]#toggleswitch::after {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        content: '';
        width: 7em;
        height: 2.38em;
        background-color: #30499B;
        content: "Registro";
        border-radius: 1em;
        position: absolute;
        transform: scale(1.05);
        left: 0;
        transition: left 0.09s ease-in-out;
    }

    input[type=checkbox]#toggleswitch:checked::after {
        left: 5.8em;
        content: "Login" ;
    }
}

/*Version movil*/

@media (min-width: 100px) and (max-width: 767px){
    .Principal-home{
        height: 100%;
        width: 100%;
    }

    .container {
        height: 100%;
        width: 100%;
    }
    
    .top_banner {
        position: fixed;
        background-color: #F3F3F3;
        width: 100%;
        height: 45px;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .top_banner>h1{
        font-size: 16px;
    }
    
    .menu_bar {
        position: fixed;
        background-color: #f3f3f3;
        width: 100%;
        height: 50px;
        bottom: 0px;
        display: flex;
        justify-content: space-between;
    }
    
    .menu_button {
        background-color: #f3f3f3;
        height: 50px;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .menu_button>img {
        height: 28px;
        width: 28px;
        fill: blue;
    }
    
    .main_container {
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        height: auto;
        z-index: -1;
    }
    
    .search {
        width: 100%;
        height: 45px;
        margin-top: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    }
    
    .search_bar {
        position: absolute;
        border: none;
        width: 346px;
        height: 21px;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        border-radius: 6px;
        background-color: #f3f3f3;
        outline: none;
    }
    
    .letter{
        width: 100%;
        height: 21px;
        background-color: #f3f3f3;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }
    
    .letter>p{
        font-size: 14px;
        margin-left: 15px;
    }

    .message-in{
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: flex-start;
        align-items: center
    }

    #img-in{
        width: 88px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #userInPict{
        height: 58px;
        width: 58px;
        border-radius: 50%;
        border: 1px solid #30499B;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #datos-in{
        height: 100%;
        flex-grow: 1;
        border-bottom: 1px solid #707070;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #name-in{
        width: 100%;
    }

    #little-text{
        width: 100%;
    }

    /*Settings*/
    .main_containerConfig{
        position: absolute;
        background-color: #E0E0E0;
        width: 100%;
        height: 100%;
        z-index: -1;
        display: flex;
        flex-direction: column;
    }

    .global_settings{
        margin-top: 65px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 10px 0px;
        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;
    }

    .profile_settings{
        display: flex;
    }

    .profile_pic{
        width: 125px;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .edit_button{
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .edit_button>a{
        color: #30499B;
        font-size: 16px;
    }

    .profile_pic_image{
        width: 80px;
        height: 80px;
        border-radius: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile_pic_image>img{
        height: 100%;
    }

    .profile_info{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .username_input>input{
        height: 36px;
        width: 100%;
        max-width: 200px;
        border: none;
        box-sizing: border-box;
        outline: none;
        border-top: 2px solid #f3f3f3;
        border-bottom: 2px solid #f3f3f3;
        font-size: 16px;
        margin-bottom: 4px;
    }

    .user_mail>p{
        color: #707070;
    }

    .save_button{
        width: 100%;
        height: auto;
        margin-top: 8px;
    }

    .buttonConfig{
        background-color: #30499B;
        border: none;
        color: white;
        padding: 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 20px;
        margin-left: 22px;
        outline: none;
    }

    .newPassword{
        margin-top: 20px;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 10px;
        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;
    }

    .newPassword_inputs{
        display: flex;
        flex-direction: column;
    }

    .newPassword_inputs>input{
        height: 36px;
        width: 100%;
        border: none;
        box-sizing: border-box;
        outline: none;
        border-top: 2px solid #f3f3f3;
        border-bottom: 2px solid #f3f3f3;
        font-size: 16px;
        margin-bottom: 10px;
        margin-left: 22px;
    }

    .buttonConfig_two{
        width: 80px;
        background-color: #4CAF50;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        padding: 12px;
        font-size: 14px;
        border-radius: 20px;
        margin-left: 22px;
        outline: none;
    }

    /*Login*/

    #Principal{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: left;
        justify-content: center;
    }

    #central{
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: #FAFAFA;
        display: flex;  
        justify-content: center;
        flex-wrap: wrap;
        box-shadow: 2px 3px #8888;
    }

    #arriba{
        margin-top:40px;
        height: 1%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #arriba>img{
        width: 200px;
        height: 200px;
    }

    #titulo{
        margin-top: 10%;
        font-family: 'Roboto', sans-serif;
    }

    #enmedio{        
        margin-top: 10%;
        height: 10%;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    #abajo{
        margin-bottom: 30%;
        height: 30%;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        font-size: 15px;
    }

    .mandar{
        margin-top: 10%;
        height: 35px;
        width: 43%;
        background-color:#30499B;
        border-radius: 10px;
        font-size: 15px;
        color: white;
        cursor: pointer;
    }

    .inputDatos{
        margin-bottom:30px;
        height: 30px;
        width: 100%;
        border:none;
        outline: none;
        background-color: transparent;
        border-bottom: 1px solid black;
        font-size: 18px;
    }

    input[type=checkbox].toggle-switch {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        width: 170px;
        height: 2.38em;
        border-radius: 1em;
        background-color:#b7b7bb ;
        outline: 0;
        cursor: pointer;
        transition: background-color 0.05s ease-in-out;
        position: relative;
    }

    input[type=checkbox].toggle-switch:checked {
        background-color: #b7b7bb;
    }

    input[type=checkbox].toggle-switch::after {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        content: '';
        width: 7em;
        height: 2.38em;
        background-color: #30499B;
        content: "Registro";    
        border-radius: 1em;
        position: absolute;
        transform: scale(1.05);
        left: 0;
        transition: left 0.09s ease-in-out;
    
    }

    input[type=checkbox].toggle-switch:checked::after {
        left: 5.8em;
        content: "Login" ;
    }

    /*Cambiado*/
    input[type=checkbox]#toggleswitch {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        width: 170px;
        height: 2.38em;
        border-radius: 1em;
        background-color:#b7b7bb ;
        outline: 0;
        cursor: pointer;
        transition: background-color 0.05s ease-in-out;
        position: relative;
    }

    input[type=checkbox]#toggleswitch:checked {
        background-color: #b7b7bb;
    }

    input[type=checkbox]#toggleswitch::after {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        content: '';
        width: 7em;
        height: 2.38em;
        background-color: #30499B;
        content: "Registro";
        border-radius: 1em;
        position: absolute;
        transform: scale(1.05);
        left: 0;
        transition: left 0.09s ease-in-out;
    }

    input[type=checkbox]#toggleswitch:checked::after {
        left: 5.8em;
        content: "Login" ;
    }
}