<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Protected</title>
</head>
<body>
    <div>
        <h1>Contactos y buscar</h1>
        <h3>Contactos agregados</h3>
        <div id="contacts" data-id="<%= data[0].idUsuario %>">
            <% for(let i = 0; i < data.length; i++) { %>
                <div id="<%= data[i].idUsuarioAgregado %>">
                    <p><%= data[i].idUsuarioAgregado%> <%= data[i].nombreContacto%></p>
                </div>
            <% } %>
        </div>
        <input type="search" name="search" id="search" placeholder="busca aqui gente">
    </div>
    <div>
        <h1>Chat</h1>
        <div id="messages"></div>
        <div id="chat"></div>
    </div>

    <script src="./socket.io/socket.io.js"></script>
    <script src="./js/chat.js"></script>
</body>
</html> -->